header {
    background-color: #deb887;
    padding: 20px;
    text-align: center;
    
    animation-name: headerAnimation;
    animation-duration: 4s;
    animation-iteration-count:infinite;

}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav li {
    float: left;
}


 ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 ul.nav li a:hover {
    background-color: #111;
}

 div.flex-container {
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
}

 div.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

@media screen and (max-width:600px) {
    div.flex-container {
        flex-direction: column;
    }
}

@keyframes headerAnimation {
    from { background-color: #deb887; }
    to { background-color: #9d683f; }

}


div {
    width: 100px;
    height: 100px;
    background-color: #deb887;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: width 2s, background-color 3s; /*Sørger for smooth transition når hover har FORLADT div*/
}

div:hover {
    width: 500px;
    background-color: #9d683f;
    transition: background-color 3s, width 2s;
}
